[submodule "temporal"]
	path = temporal
	url = https://github.com/tc39/proposal-temporal.git
	branch = canonical-tz-polyfill
[submodule "polyfill/test262"]
	path = polyfill/test262
	url = https://github.com/justingrant/test262.git
	branch = proposal-canonical-tz-tests
